




#menu{
  color: rebeccapurple;
}



.imgLocal{
  width: 1300%;
  height: 120px;
  border-radius: 0%;
}



.marqueClass1{
  color: red;
  margin-top: 200px;
  height: 50px;
  width: 50px;
  background-color: rebeccapurple;
}


.videoContainer h6 {
    text-align: center;
    color: wheat;
}


.img1{
  width: 130%;
    height: 120px;
  
}





.navbar-toggler{
    position: absolute;
    left: 0px;
    top: 0px;
   
}

.containerTag {
    display: flex;
    flex-wrap:wrap;
   
    justify-content: center;
    margin-top: 75px;
   
  }
   
  
  
  .videoContainer {
    width: 130px;
    margin: 10px;
   }
    .imgLocal:active,
     .imgLocal:focus,
    .imgLocal:hover {
     color: black;
     
     background-color: transparent;
     background-repeat: no-repeat; 
     cursor: pointer; 
     overflow: hidden; 
     outline: none;
    }
  
  .menuContainer{
    z-index: 98;
    position: fixed;
    opacity: 0.9;
    width: 100%;
    top: 1px;
   
  }
  

  nav {
   margin-top: 1px;
   
  }
  
  ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
   align-items: center;
  
    
  }
  
  
  
  ul#menu li {
    display: inline-block;
    font-size: 20px;
   
    
  }
  
  ul#menu li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px 15px;
   
   
  }
  .tipbtn:hover,
  .tipbtn:active,
  .tipbtn:focus
   {
    background-color: gray;
    color: #07ed5f;
    border: 3px solid gold;
   }

   .tipbtn{
    color:  #07ed5f;
    
   }
  
  ul#menu li a:hover,
  ul#menu li a:active,
  ul#menu li a:focus
   {
    background-color: gray;
    color: #07ed5f;
   }

  
  body {
    background-color: rgb(1, 44, 44);
    opacity: 0.9;
   
    
    
  }															
  body:hover {
    background-color: rgb(1, 44, 44);
    opacity: 1;
    
    
  }				
                                  
  .container { 
 
   
 width: 360px;
  height: 280px; 
  position: relative;
  
  border-radius: 10px;
 margin-bottom: 30px;
 
  
  
  
  } 
  .container:hover{
   
  }
  
  
  .top-left { 
  position: absolute; 
  top: 50px; 
  left: 20px;
  
  
  
  
  } 
  
  .top-right { 
  position: absolute; 
  top: 50px; 
  right: 20px; 
  
  } 
  
  img {
                   width: 70px;
                  height: 70px;
                  background-color:#c2f1d4;
                  border-radius: 50%;
                  padding: 4px 4px;
                  border: 1px blue solid;
                  
              
  }
  
  
  figcaption {
                  text-align: center;
                  font-size: 15px;
                  color: white;
                  font-size: 18px;

  }
  
  .logo {
                  position: center;
        margin-top: 0px;
        color: #b32d0f;
                  font-size: 18px;
               font-weight: 800;
       display:inline-block;
       padding: 0px;
       border: none;
       height: 41px;
       background-color: transparent;
       background-repeat: no-repeat; 
       border: none; 
       cursor: pointer; 
       overflow: hidden; 
       outline: none;
       
                  
  }
  
    
  
  
  
  
  .time {
                  position: absolute;
                  left: 33%;
        top: 15%; 
        color: #e8dede;
        
        font-size: 25px; 
        font-weight: 1000;
        padding: 10px;
        
        
                  
  }
  .liveimg{
    border: none;
    border-radius: 0px;
    width: 70px;
    height: 50px;
  }
  
       .live {
                  position: absolute;
                  left: 37%;
        top: 44%; 
        color: #edf3f5;
                  font-size: 20px;
                  font-weight: 900;
                  
                  width: 100px;
                  text-align: center;
                  .Time {
                    position: absolute;
                    left: 33%;
          top: 40%;
                    }
                  
                 
                  
                  .status{ 
         width: 120px;
         margin-bottom: 30px;
         color: #ffffff; 
         margin-top: 0px;
         border-radius: 40px 10px;
         border-color:white; 
         border-style: solid; 
         border-width: 2px;
         
  }
                  
  }
  
        ul{
        padding-left:0px; 
        text-align:center;
        margin:0px;
  
  }
        li{ 
        display:inline-block;
        padding:0px;
  }
  
       footer{
                        color:#e3ff00;
        }
        
        .zml{
                        color: #eaffff;
        }								
    .btn {
          font: bold 13px Arial; 
          text-decoration: none; 
      border-radius: 5px;        
      text-transform: uppercase;
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
      padding: 4px; 
      letter-spacing: 1px;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      text-align: center;
      border: 1px solid #000;
      background-color: #e7e6e3;
      color: #141518;
      box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
      width: 49%;
      height: 50px;
     
    }
  
    .btn:active,
    .btn:focus,
    .btn:hover {
      background-color: #c8ee0a;
     color: #f15d0d;
     border: 3px solid gold;
     box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
    
    }
  
   						
                                  
  
  .btg {
  position: absolute;
  top: 158px;
  width: 95%;
 
  
  
  
  }
  .btg1{
    position: absolute;
  top: 200px;
  width: 95%;
  margin-top: 15px;
 
    }
  
  #line1 { 	
    background-color: blue;
    width :50%;
    height: 2px;
    margin-top: -5px; 
    border: 0;
  }
  
  #line2 { 	
  background-color: black;
  height: 2px;
  margin-top: 116px;
  border: 0;
  }
  
  div.scrollmenu {
    opacity: 1;
    overflow: auto;
    white-space: nowrap;
   
    border-top: 2px solid gray;
  }
  .homeImages{
     margin-top: 30px;
  }

  .marqueClass{
   
    border: 1px solid black;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 80px;
    z-index: 99;
    opacity: 0.7;
    
  }
  .marq1{
    padding: 15px;
    color:#102770;
   
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .marqueClass1{
   
    border: 1px solid black;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 70px;
    z-index: 99;
    opacity: 0.7;
    margin-top: 80px;
    
  }
  .marq2{
    padding: 15px;
    color:#102770;
    width: 100%;
    font-size: 20px;
    text-align: center;
   
  }
              
 
.tipContainer{
  margin-top: 160px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  
 
 
}

.tipbtn{
  background-color: blueviolet;
  width: 375px;
  height: 70px;
  font-size: 20px;
 
}

.tipTable{
  padding: 0px;
}

.liveImg1{
 border: 1px solid gold;
 border-radius: 0px;
 width: 320px;
 height: 150px;

}

.liveImageContainer{
 

 
}

.liveImageContainer:hover,
.liveImageContainer:focus,
.liveImageContainer:active{
  border: 3px solid gold;
}

.liveImageContainer1{
  width: 100%;
  display: flex;
 flex-direction: row;
 justify-content: center;
}

.preImg1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
 
.preImg2{
  border-radius: 0px;
  margin-right: 10px;
  width: 140px;
  height: 230px;
}

.kyawNyar{
  color: red;
  border: 1px solid gray;
  margin-top: 10px;
  background-color: ghostwhite;
  padding: 10px;
}







